{% extends "base.html" %}

{% block content %}

  
<div>
  
  {% for question in questions %}
  
  <div class="d-flex flex-sm-column">
    
  
    <div class="list-group">
      
    
   
      <a href="{% url 'show_question' pk=question.pk %}" class="list-group-item list-group-item-action list-group-item-secondary">{{question.title}}
        <span class="red">by {{question.author_question}}, on {{question.created_on}}</span>
        <span class="badge badge-primary badge-pill ">3</span>
        </a>
    </div>
    
    {% if user == question.author_question %}
    <p>
        <i class="fa fa-trash"></i>
        <a style="text-decoration:none" class="black-90" href="{% url 'delete_question' pk=question.pk %}">Delete</a><br>
        <i class="fa fa-adn"></i>
        <a style="text-decoration:none" class="black-90" href="{% url 'add_answer' pk=question.pk %}">Answer</a><br>
        <i class="fa fa-edit"></i>
        <a style="text-decoration:none" class="black-90" href="{% url 'edit_question' pk=question.pk %}">Edit</a><br>
    </p>
    {% else %}
    <i class="fa fa-adn"></i>
    <a style="text-decoration:none" class="black-90" href="{% url 'add_answer' pk=question.pk %}">Answer</a><br>
    {% endif %}
  </div>
  
  {% endfor %} 
</div>
{% endblock %}

