{% extends "base.html" %}

{% block content %}
<a class="f6 f5-l link bg-animate black-80 hover-bg-lightest-blue dib pa3 ph4-l" href="{% url 'add_question' %}">Ask question</a>
<div class="flex flex-wrap">
  {% for question in questions %}
  <div class="w-33 pa3 mw5 center br3 pa3 pa4-ns mv3 ba b--black-5" style='background-color: #C8E2F9;'>
    
    
    

    
    <div class="flex ">
      <div><a style="text-decoration:none" href="{% url 'show_question' pk=question.pk %}"><b>Question:</b>{{question.title}}</a>
      </div>
    </div>
  

    
   
    <p>
        <i class="fa fa-trash"></i>
        <a style="text-decoration:none" class="black-90" href="{% url 'delete_question' pk=question.pk %}">delete</a><br>
        <a style="text-decoration:none" class="black-90" href="{% url 'add_answer' pk=question.pk %}">answer</a><br>
    </p>
        
  </div>
  {% endfor %}

</div>
{% endblock %}